*.ipynb_checkpoints
versions/
versions_test/
*__pycache__
*.bat
*.lnk
*.pdf
PrivateNotes.md
.Rproj.user
DotA2-Exploration.Rproj
temp-plot.html
venv
*.pyc
.DS_Store
.env
.*/
tournamentGoldPercApp/env/
